// Fonts
@font-face {
  font-family: "PokemonFont";
  src: url("./assets/fonts/pokemonsolid.ttf");
}

.pokemon-font {
  font-family: PokemonFont, Arial !important;
  letter-spacing: 1px;
}

// General Styles
html,
body,
#root {
  height: 100%;
}

body {
  background-color: #b5ccdd;
}

// General custom classes

.text-black {
  color: black !important;
}

.btn-custom {
  background-color: #51a5c6 !important;
  border: none !important;
  color: black !important;
  transition: 200ms;

  &:hover {
    background-color: #4bb3dc !important;
    margin-top: 0px !important;
  }

  &:disabled {
    color: white !important;
    opacity: 0.5;
  }
}

.form-custom {
  background-color: #94bfd0 !important;
  border: none !important;

  &::placeholder {
    color: #454545 !important;
  }

  &:disabled {
    opacity: 0.7;
  }
}

.my-modal {
  z-index: 0;
  & > div > div {
    background-color: #f5f5dc;
    padding: 1em;
  }
}

.centered-spinner {
  z-index: 1;
}

.navbar-padding {
  padding-top: 75px;
}

.card-as-link {
  transition: 200ms;

  div {
    border: none !important;
  }

  &:hover {
    div {
      background-color: #51a5c6 !important;
    }
    .img-custom-container {
      background-color: #94bfd0 !important;
    }
  }
}

.share-icon:hover {
  fill: #158cba;
  cursor: pointer;
}

.star-icon-filled {
  fill: yellow;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    fill: #cdcd7d;
  }
}

.star-icon:hover {
  transition: 200ms;
  fill: yellow;
  cursor: pointer;
}

.icon-disabled {
  fill: gray !important;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}
