@font-face {
  font-family: "PokemonFont";
  src: url("./assets/fonts/pokemonsolid.ttf");
}

body {
  background-color: #b5ccdd;
}

.pokemon-font {
  font-family: PokemonFont, Arial !important;
  letter-spacing: 1px;
}

// Login
.my-modal {
  z-index: 0;
  & > div > div {
    background-color: #f5f5dc;
    padding: 1em;
  }
}

.centered-spinner {
  z-index: 1;
}

.navbar-margin {
  margin-top: 75px;
}

.card-as-link {
  transition: 200ms;
  div {
    border: none !important;
  }

  &:hover {
    div {
      background-color: #51a5c6 !important;
    }
    .img-custom-container {
      background-color: #94bfd0 !important;
    }
  }
}

.share-icon:hover {
  fill: #158cba;
}
