@font-face {
  font-family: "PokemonFont";
  src: url("./assets/fonts/pokemonsolid.ttf");
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #b5ccdd;
}

.pokemon-font {
  font-family: PokemonFont, Arial !important;
  letter-spacing: 1px;
}

.text-black {
  color: black !important;
}

.btn-custom {
  background-color: #51a5c6 !important;
  color: black !important;
  border: none !important;
}

.form-custom {
  background-color: #94bfd0 !important;
  border: none !important;

  &::placeholder {
    color: #454545 !important;
  }
}

// Login
.my-modal {
  z-index: 0;
  & > div > div {
    background-color: #f5f5dc;
    padding: 1em;
  }
}

.centered-spinner {
  z-index: 1;
}

.navbar-margin {
  margin-top: 75px;
}

.navbar-padding {
  padding-top: 75px;
}

.card-as-link {
  transition: 200ms;
  div {
    border: none !important;
  }

  &:hover {
    div {
      background-color: #51a5c6 !important;
    }
    .img-custom-container {
      background-color: #94bfd0 !important;
    }
  }
}

.share-icon:hover {
  fill: #158cba;
}

.icon-disabled {
  fill: gray;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}
